body {
  margin: 0;
  background-color: #fff8f8;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1 {
  font-family: 'Arial', sans-serif;
  font-size: 2.5em;
  color: #333; /* Color del texto */
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra suave */
}
p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 6px;
  margin-bottom: 5px;
  background-color: rgba(250, 250, 250, 0.7);
  border-radius: 5px;
  border: 1px dotted gray;
}
.titulo {
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-bottom: 3px solid darkred;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: darkred;
  -webkit-text-stroke: 0.1px black;
}
.container {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  height: 35000px;
}

.image-container {
  height: 100vh;
  width: 100%;
  position: sticky;
  margin: 0 auto;
  top: 5px;
  bottom: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../premiere/frames_premiere/0000-0860000.png');
}
@media only screen and (min-width: 700px){ /*ordenador imagen*/
  .image-container {
    height: 100vh;
    width: 100%;
    margin: 20% 0;
    position: sticky;
    margin: 0 -25%;
    top: 5px;
    bottom: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../premiere/frames_premiere/0000-0860000.png');
  }
}

.text-container { /*movil textos*/
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    top: 0;
    .subtitle { 
      opacity: 0;
      font-size: 30px;
      color: darkred;
    text-align: center;
    text-shadow: 1px -3px 2px rgba(0, 0, 0, 0.8);
    -webkit-text-stroke: 0.5px white;
    }
    .title { 
      opacity: 0;
      font-size: 80px;
      color: darkred;
    text-align: center;
    text-shadow: 1px -3px 2px rgba(0, 0, 0, 0.8);
    -webkit-text-stroke: 1px white;
    }
    .cartela {
      opacity: 0;
      font-size: 12px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: black;
    text-align: left;
    background-color: rgba(250, 220, 220, 0.3);
    box-shadow: 1px -2px 3px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    border: 1px solid black;
    padding: 4px;
    width: 48%;
    position: absolute;
    margin-right: 10%;
    }
    @media only screen and (max-width: 699px) { /*movil cartelas*/
      #cartela-2 {
        margin-top: 75%;
        margin-left: 30%;
      }
      #cartela-3 {
        margin-right: 25%;
      }
      #cartela-4 {
        margin-bottom: 60%;
        margin-right: 35%;
      }
      #cartela-5 {
        margin-bottom: 35%;
        margin-right: 40%;
        width: 52%;
      }
      #cartela-6 {
        margin-bottom: 60%;
        margin-right: 25%;
      }
      #cartela-7 {
        margin-right: 25%;
      }
      #cartela-8 {
        margin-bottom: 60%;
        margin-right: 25%;
      }
      #cartela-9 {
        margin-bottom: 45%;
        margin-right: 25%;
      }
      #cartela-10 {
        margin-bottom: 60%;
        margin-right: 25%;
      }
      #cartela-11 {
        margin-top: 80%;
      }
    }
    
  }
  @media only screen and (min-width: 700px){ /*ordenador textos*/
    .text-container {
      width: 35%;
    height: 100%;
    margin: 0 57%;
    padding: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content:center;
    top: 0;
    
    .subtitle { 
      opacity: 0;
      font-size: 30px; 
      width: 100%;
      color: darkred;
    text-align: center;
    text-shadow: 1px -3px 2px rgba(0, 0, 0, 0.8);
    -webkit-text-stroke: 1px white;
    }
    .title { 
      opacity: 0;
      font-size: 65px; 
      width: 100%;
      color: darkred;
    text-align: center;
    text-shadow: 1px -3px 2px rgba(0, 0, 0, 0.8);
    -webkit-text-stroke: 1px white;
    }
    .cartela {
      opacity: 0;
      font-size: 14px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: black;
    text-align: left;
    background-color: var(--rojosuave);
    box-shadow: 1px -2px 3px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    border: 1px solid black;
    padding: 2px;
    width: 100%;
    position: absolute;
    }
    .years_texts {
    width: 100%;
      height: 100%;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: start;
      top: 0;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: darkred;
      margin-left: 20%;
      font-size: 14px;
  }
  .years_line {
    width: 20%;
      height: 50%;
      border: none;
      border-bottom: 2px dashed darkred;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: start;
      top: 0;
      margin-left: 20%;
  }
  #text23 {
    justify-content: start;
    margin-top: 19%;
  }
  #line23 {
    justify-content: center;
    margin-top: -21%;
  }
  #text21 {
    justify-content: start;
    margin-top: 32%;
  }
  #line21 {
    justify-content: center;
    margin-top: -8%;
  }
  #text10 {
    justify-content: start;
    margin-top: 60%;
  }
  #line10 {
    justify-content: center;
    margin-top: 20%;
  }
  #text03 {
    justify-content: start;
    margin-top: 80%;
  }
  #line03 {
    justify-content: center;
    margin-top: 40%;
  }
    }

    :root{
      --rojo: darkred;
      --rojosuave: rgba(250, 220, 220, 1);
    }
  }